= content_for :body_class do
  = "leather-three-column navbar-fixed-left navbar-offcanvas-left"

= navbar "Leather", main_app.root_url, container_mode: :no_collapse, class: "navbar-inverse navbar-fixed-top" do
  = nav_list do
    = dropdown_nav_item 'Lorem', '#' do
      = nav_item 'Ipsum', '#'
      = nav_item 'Dolor', '#'
      = nav_item 'Sit', '#'
    = nav_item 'Home', '#'
    = nav_item 'Dolor', '#'
    = nav_item 'Sit', '#'

#main
  #left
    %header.visible-xs.visible-sm
      .container-fluid
        = link_to "#", class: "toggle-sidebar btn btn-default" do
          %i.fa.fa-bars
    %ul.list-group
      = link_to "List Item", "#", class: "list-group-item toggle-right"

  #right
    %header.visible-xs
      .container-fluid
        = link_to "#", class: "toggle-right btn btn-default" do
          %i.fa.fa-chevron-left
    %h3 Content

#overlay.toggle-sidebar