= navbar "Leather", root_path, container_mode: :with, class: "navbar-default" do
  = nav_list do
    = nav_item 'Home', root_path
    = nav_item 'UI Kit', page_path('ui_kit')
  = nav_list class: 'navbar-right' do
    - if user_signed_in?
      = nav_item 'Sign Out', destroy_user_session_path, method: :delete
    - else
      = nav_item 'Sign In', new_user_session_path
      = nav_item 'Sign Up', new_user_registration_path

.container
  %h1 Home