= content_for :body_class do
  = "bg-gray-lighter container-lg"

.jumbotron.relative.no-margin.text-white{style: "height: 700px;"}
  .abs-cover.hero24
  .vertical-center.text-center
    .text-shadowed
      %h1.text-lighter Welcome to Leather
      %p.text-lighter Hello
    = link_to "Learn More", "", class: "btn btn-lg no-radius btn-primary"

%section.bg-gray-lightest.features
  .container
    .row
      .col-sm-4
        .feature
          %h4.detail-line Feature 1
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .col-sm-4
        .feature
          %h4.detail-line Feature 2
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .col-sm-4
        .feature
          %h4.detail-line Feature 3
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.

%section.bg-white.features
  .container
    .row
      .col-sm-3
        .feature
          %h4.detail-line Feature 1
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      .col-sm-3
        .feature
          %h4.detail-line Feature 2
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      .col-sm-3
        .feature
          %h4.detail-line Feature 3
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      .col-sm-3
        .feature
          %h4.detail-line Feature 4
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

%section.no-padding
  .flex-grid.text-center
    .flex-row
      = link_to "#", class: "feature-block feature-block-primary flex-cell" do
        %h4.text-light Hover Link Feature
        .detail-line
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      = link_to "#", class: "feature-block feature-block-primary flex-cell" do
        %h4.text-light Hover Link Feature
        .detail-line
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      = link_to "#", class: "feature-block feature-block-primary flex-cell" do
        %h4.text-light Hover Link Feature
        .detail-line
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.

%section.bg-gray-lightest.relative.image-block
  .image.image-right.col-sm-5.col-md-6
    .abs-cover.hero24
  .container
    .row
      .col-sm-7.col-md-5
        .image-block-copy
          %h2.no-margin.text-lighter Image Block Right
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
          = link_to "Learn More", "", class: "btn no-radius btn-primary"

%section.bg-gray-lightest.relative.image-block
  .image.image-left.col-sm-5.col-md-6
    .abs-cover.hero24
  .container
    .row
      .col-sm-7.col-md-5.col-md-offset-7.col-sm-offset-5
        .image-block-copy
          %h2.no-margin.text-lighter Image Block Left
          %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
          = link_to "Learn More", "", class: "btn no-radius btn-primary"

%section.bg-white
  .container
    .flex-grid.flex-grid-bordered.flex-grid-padded
      .flex-row
        .flex-cell.flex-cell-wide.bg-gray-lightest
          Flex Box
        .flex-cell 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .flex-row
        .flex-cell.bg-gray-lightest 
          Flex Box
        .flex-cell.flex-cell-wide
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .flex-row
        .flex-cell.bg-gray-lightest
          Flex Box
        .flex-cell
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .flex-row
        .flex-cell.bg-gray-lightest
          Flex Box
        .flex-cell
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
        .flex-cell
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .flex-row
        .flex-cell.bg-gray-lightest
          Flex Box
        .flex-cell
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
        .flex-cell
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
        .flex-cell
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.

%section.bg-gray-lightest
  .container
    .row
      .col-sm-2
        .text-center
          %p= image_tag "http://placehold.it/200x200", class: "img-responsive img-circle inline-block"
          %p
            %span.text-muted by
            Author Name
      .col-sm-9.col-sm-offset-1
        %h4.detail-line.text-lighter.text-muted.no-margin= Time.zone.now.strftime("%b %d, %Y")
        %h3.text-lighter.blog-heading Post Title

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.

        %h4.blog-heading Subheading

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.

%section.bg-gray-radial-light.no-overflow.image-block.image-block-bottom
  .container
    .row.relative
      .col-sm-6
        .image-block-copy.relative
          .vertical-center.absolute
            %h2.text-light.text-primary.no-margin Title
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
            = link_to "Learn More", "", class: "btn btn-primary no-radius btn-outline"
      .image.image-right.col-sm-6.col-md-4
        = image_tag "leather/phone.png", class: "img-responsive"

%section.bg-white.text-center.cta.cta-inline
  .container
    %h2.text-primary.text-light.pull-left Call to Action
    = link_to "Learn More", "", class: "btn btn-primary btn-lg text-white no-radius btn-outline pull-right"

%section.bg-gray-radial-dark.text-white.no-overflow.image-block.image-block-bottom
  .container
    .row.relative
      .col-sm-6.col-sm-push-6
        .image-block-copy.relative
          .vertical-center.absolute
            %h2.text-light.no-margin Title
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. 
            = link_to "Learn More", "", class: "btn btn-default text-white no-radius btn-outline"
      .image.image-left.col-sm-6.col-md-4
        = image_tag "leather/phone.png", class: "img-responsive"

%section.bg-white.text-center.cta
  .container
    %h2.text-primary.text-light Call to Action
    %p= link_to "Learn More", "", class: "btn btn-primary btn-lg text-white no-radius btn-outline"