.jumbotron
  .container
    %h1 Hello, world!
    %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %p
      %a.btn.btn-primary.btn-lg{role: "button"} Learn more

= navbar "Brand", "#", container_mode: :with, class: "navbar-default navbar-static-top" do
  = nav_list do
    = nav_item 'Link', '#'
    = nav_item 'Link', '#'
    = dropdown_nav_item 'Dropdown', '#' do
      = nav_item 'Action', '#'
      = nav_item 'Another action', '#'
      = nav_item 'Something else here', '#'
      %li.divider
      = nav_item 'Separated link', '#'
  %form.navbar-form.navbar-left{role: "search"}
    .form-group
      %input.form-control{placeholder: "Search", type: "text"}/
    %button.btn.btn-default{type: "submit"} Submit
  = nav_list class: 'navbar-right' do
    = nav_item 'Link', '#'
    = dropdown_nav_item 'Dropdown', '#' do
      = nav_item 'Action', '#'
      = nav_item 'Another action', '#'
      = nav_item 'Something else here', '#'
      %li.divider
      = nav_item 'Separated link', '#'

= navbar "Brand", "#", container_mode: :with, class: "navbar-inverse navbar-static-top" do
  = nav_list do
    = nav_item 'Link', '#'
    = nav_item 'Link', '#'
    = dropdown_nav_item 'Dropdown', '#' do
      = nav_item 'Action', '#'
      = nav_item 'Another action', '#'
      = nav_item 'Something else here', '#'
      %li.divider
      = nav_item 'Separated link', '#'
  %form.navbar-form.navbar-left{role: "search"}
    .form-group
      %input.form-control{placeholder: "Search", type: "text"}/
    %button.btn.btn-default{type: "submit"} Submit
  = nav_list class: 'navbar-right' do
    = nav_item 'Link', '#'
    = dropdown_nav_item 'Dropdown', '#' do
      = nav_item 'Action', '#'
      = nav_item 'Another action', '#'
      = nav_item 'Something else here', '#'
      %li.divider
      = nav_item 'Separated link', '#'

.container
  %h1.page-header Breadcrumbs
  %ol.breadcrumb
    %li
      %a{href: "#"} Home
    %li
      %a{href: "#"} Library
    %li.active Data

.container
  %h1.page-header Off-Canvas Menus
  = link_to "Left", "#", data: { toggle: "off-canvas", side: "left"}, class: "btn btn-primary"
  = link_to "Right", "#", data: { toggle: "off-canvas", side: "right"}, class: "btn btn-primary"

  .off-canvas.off-canvas-inverse.off-canvas-left
    .brand
      Off-Canvas Left
      .close &times;
  .off-canvas.off-canvas-right
    .brand
      Off-Canvas Right
      .close &times;

  %h1.page-header Typography
  %h3 Headings
  %h1
    h1. Bootstrap heading
    %small Secondary text
  %h2
    h2. Bootstrap heading
    %small Secondary text
  %h3
    h3. Bootstrap heading
    %small Secondary text
  %h4
    h4. Bootstrap heading
    %small Secondary text
  %h5
    h5. Bootstrap heading
    %small Secondary text
  %h6
    h6. Bootstrap heading
    %small Secondary text
  %h3 Lead Copy
  %p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
  %h3 Body Copy
  %p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
  %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
  %h3 Blockquote
  %blockquote
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
  %h3 Lists
  %h4 Unordered List
  %ul
    %li List Item
    %li List Item
  %h4 Ordered List
  %ol
    %li List Item
    %li List Item
  %h4 Unstyled List
  %ul.list-unstyled
    %li List Item
    %li List Item
    %li List Item
  %h4 Definition List
  %dl
    %dt Description lists
    %dd A description list is perfect for defining terms.
    %dt Euismod
    %dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    %dd Donec id elit non mi porta gravida at eget metus.
    %dt Malesuada porta
    %dd Etiam porta sem malesuada magna mollis euismod.
  %h1.page-header Buttons
  / Standard button
  %button.btn.btn-default{type: "button"} Default
  / Provides extra visual weight and identifies the primary action in a set of buttons
  %button.btn.btn-primary{type: "button"} Primary
  / Indicates a successful or positive action
  %button.btn.btn-success{type: "button"} Success
  / Contextual button for informational alert messages
  %button.btn.btn-info{type: "button"} Info
  / Indicates caution should be taken with this action
  %button.btn.btn-warning{type: "button"} Warning
  / Indicates a dangerous or potentially negative action
  %button.btn.btn-danger{type: "button"} Danger
  / Deemphasize a button by making it look like a link while maintaining button behavior
  %button.btn.btn-link{type: "button"} Link
    
  %hr

  .row
    .col-md-12
      %button.btn.btn-default.btn-lg{type: "button"} Large
      %button.btn.btn-default{type: "button"} Default
      %button.btn.btn-default.btn-sm{type: "button"} Small
      %button.btn.btn-default.btn-xs{type: "button"} Extra Small

  %h1.page-header Tables
  %h3 Basic Table
  = render 'table', table_class: ""
  %h3 Striped Table
  = render 'table', table_class: "table-striped"
  %h3 Bordered Table
  = render 'table', table_class: "table-bordered"
  %h3 Hover Rows
  = render 'table', table_class: "table-hover"
  %h3 Condensed Table
  = render 'table', table_class: "table-condensed"
  %h1.page-header Forms
  %form{role: "form"}
    .form-group
      %label{for: "exampleInputEmail1"} Email address
      %input#exampleInputEmail1.form-control{placeholder: "Enter email", type: "email"}/
    .form-group
      %label{for: "exampleInputPassword1"} Password
      %input#exampleInputPassword1.form-control{placeholder: "Password", type: "password"}/
    .form-group
      %label{for: "exampleInputFile"} File input
      %input#exampleInputFile{type: "file"}/
      %p.help-block Example block-level help text here.
    .checkbox
      %label
        %input{type: "checkbox", value: ""}/
        Option one is this and that—be sure to include why it's great
    .checkbox.disabled
      %label
        %input{disabled: "disabled", type: "checkbox", value: ""}/
        Option two is disabled
    .radio
      %label
        %input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
        Option one is this and that—be sure to include why it's great
    .radio
      %label
        %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
        Option two can be something else and selecting it will deselect option one
    .radio.disabled
      %label
        %input#optionsRadios3{disabled: "disabled", name: "optionsRadios", type: "radio", value: "option3"}/
        Option three is disabled
    %button.btn.btn-default{type: "submit"} Submit
  %h1.page-header Contextual Classes
  %p.text-muted text-muted ...Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
  %p.text-primary text-primary ...Nullam id dolor id nibh ultricies vehicula ut id elit.
  %p.text-success text-success ...Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
  %p.text-info text-info ...Maecenas sed diam eget risus varius blandit sit amet non magna.
  %p.text-warning text-warning ...Etiam porta sem malesuada magna mollis euismod.
  %p.text-danger text-danger ...Donec ullamcorper nulla non metus auctor fringilla.
  %p.bg-primary{style: "padding: 10px;"} bg-primary
  %p.bg-success{style: "padding: 10px;"} bg-success
  %p.bg-info{style: "padding: 10px;"} bg-info
  %p.bg-warning{style: "padding: 10px;"} bg-warning
  %p.bg-danger{style: "padding: 10px;"} bg-danger
  %h1.page-header Alerts
  .bs-example
    .alert.alert-success{role: "alert"}
      %strong Well done!
      You successfully read this important alert message.
    .alert.alert-info{role: "alert"}
      %strong Heads up!
      This alert needs your attention, but it's not super important.
    .alert.alert-warning{role: "alert"}
      %strong Warning!
      Better check yourself, you're not looking too good.
    .alert.alert-danger{role: "alert"}
      %strong Oh snap!
      Change a few things up and try submitting again.
  %h1.page-header Progress Bars
  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar", style: "width: 60%;"}
      60%
  .progress
    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
      %span.sr-only 40% Complete (success)
  .progress
    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", role: "progressbar", style: "width: 20%"}
      %span.sr-only 20% Complete
  .progress
    .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar", style: "width: 60%"}
      %span.sr-only 60% Complete (warning)
  .progress
    .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
      %span.sr-only 80% Complete
  %h1.page-header Panels
  .bs-example
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
      .panel-footer Panel footer
    .panel.panel-success
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
    .panel.panel-info
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
    .panel.panel-danger
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
  %h1.page-header Wells
  .well Normal well
  .well.well-lg Large well
  .well.well-sm Small well
  %h1.page-header Tabs
  .bs-example.bs-example-tabs
    %ul#myTab.nav.nav-tabs{role: "tablist"}
      %li.active
        %a{"data-toggle" => "tab", href: "#home", role: "tab"} Home
      %li
        %a{"data-toggle" => "tab", href: "#profile", role: "tab"} Profile
      %li.dropdown
        %a#myTabDrop1.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "myTabDrop1", role: "menu"}
          %li
            %a{"data-toggle" => "tab", href: "#dropdown1", role: "tab", tabindex: "-1"} @fat
          %li
            %a{"data-toggle" => "tab", href: "#dropdown2", role: "tab", tabindex: "-1"} @mdo
    #myTabContent.tab-content
      #home.tab-pane.fade.in.active
        %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
      #profile.tab-pane.fade
        %p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
      #dropdown1.tab-pane.fade
        %p Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
      #dropdown2.tab-pane.fade
        %p Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.
  %h1.page-header Modal
  .modal{style: "position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: 1; display: block;"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          %h4.modal-title Modal title
        .modal-body
          %p One fine body…
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          %button.btn.btn-primary{type: "button"} Save changes
      / /.modal-content
    / /.modal-dialog