= navbar "Leather", root_url, container_mode: :with, class: "navbar-inverse" do
  = nav_list do
    = dropdown_nav_item 'Lorem', '#' do
      = nav_item 'Ipsum', '#'
      = nav_item 'Dolor', '#'
      = nav_item 'Sit', '#'
    = nav_item 'Home', '#', nav_id: [:home, :main]
    = nav_item 'Dolor', '#', nav_id: [:dolor, :secondary]
    = nav_item 'Sit', '#'
  = nav_list class: 'navbar-right' do
    - if user_signed_in?
      = nav_item 'Sign Out', destroy_user_session_path, method: :delete
    - else
      = nav_item 'Sign In', new_user_session_path
      = nav_item 'Sign Up', new_user_registration_path

.container
  %h1 Home#index
  %p Find me in app/views/home/index.html.erb

  = modal_toggle "Modal", "custom-id", class: "btn btn-primary"
  = modal "custom-id" do
    = modal_header "Title"
    = modal_body do
      BODY
    = modal_footer do
      %button.btn.btn-default{ data: { dismiss: "modal" }, type: "button" } Cancel
      %button.btn.btn-primary{ type: "button" } Save changes